/* Start Up CSS */

/* No matter the browser size, this will give the cover the full height of the browser size */
html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url("../img/couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}


.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle; /* **this css trick will allow content to be in the middle regardless of browser height */
}

h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

.navbar-trans {
    background: rgba(0, 0, 0, 0.7);
}

.testimonial {
    background: #222;
}

.blockquote {
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
}

footer, cite {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    color: #888;
    /* margin-top: 5; */
}

.font-weight-bold {
    font-family: bold;
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 100px;
    box-shadow: 0 0 10px #000 inset 
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

h2 + p {
    text-align: center;
    margin-top: -60px;
}

#team {
    background: url("../img/fan.jpg") top left no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.foot {
    background: #222;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    padding: 20px;
    text-transform: lowercase;
    font-family: Georgia, Times, serif;
}

footer a {
    color: hotpink;
}

/* Media Queries -- allows to style css in bootstrap depending on the size of the screen being viewed in, MQ finds out the size of browser then serves up new css to adapt and respond to browser size  */

@media only screen and (max-width: 568px) {
    .cover h1 {
        font-size: 40px;
    }
    
    p.lead {
        font-size: 18px;
    }
    section {
        padding: 20px;
    }
    
    .blockquote {
        font-size: 28px;
    }
}

    
/* DO NOT NEED DIV W/CLASS OF NAVBAR-BRAND BETWEEN BUTTTON */