/* Start Up CSS */

/* No matter the browser size, this will give the cover the full height of the browser size */
html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url("../img/couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    
}


.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle; /* **this css trick will allow content to be in the middle regardless of browser height */
}
    
/* DO NOT NEED DIV W/CLASS OF NAVBAR-BRAND BETWEEN BUTTTON */