/* Start Up CSS */

/* No matter the browser size, this will give the cover the full height of the browser size */
html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url("../img/couchfriends.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}


.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle; /* **this css trick will allow content to be in the middle regardless of browser height */
}

h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}
    
/* DO NOT NEED DIV W/CLASS OF NAVBAR-BRAND BETWEEN BUTTTON */